services:
  - type: web
    name: sagara-booking-api
    env: docker
    plan: free
    region: singapore
    envVars:
      - key: DB_HOST
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_NAME
        sync: false
      - key: DB_PORT
        sync: false
      - key: DB_SSLMODE
        sync: false
      - key: JWT_SECRET
        sync: false